body {
    text-align: center;
    background-color: darkcyan;
}

header h1 {
    margin-top: 2em;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

#form {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.fieldset{
    display:flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.form__label {
    font-weight: bold;
    font-size: 1em;
}

#currency-from, #currency-to {
    max-width: 200px;
    margin-bottom: 2em;
}

#form__submit {
    margin-bottom: 3em;
}

#result {
    font-weight: bold;
}
