body {
    text-align: center;
}

header h1 {
    text-transform: uppercase;
    font-weight: bold;
}

#form {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.fieldset{
    display:flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.form__label {
    font-weight: bold;
    font-size: 1em;
    
}